:root{
    --main-color: hsla(100, 100%, 50%, 1.0);
    --secondary-color: hsla(200, 100%, 50%, 1.0);
}
*{
    font-size: 1.1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    text-align: center;
}
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 0 0 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: goldenrod;
    font-size: 2em;
    font-weight: bold;
}
.menu-items{
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* background-color: blue; */
}
ul> a> li{
    margin: 0.4em;
    padding: 0.1em;
}
li:hover{
    background-color: aliceblue;
}
/* main{} */
button{
    background-color: aliceblue;
    color: black;
    height: 4em;
    width: 8em;
    font-weight: bold;
    border-radius: 20px;
}
button:hover{
    background-color: blue;
}
header, footer{
    background-image: linear-gradient(to right, black, red, green);
}
.div-containers{
    display: flex;
    background-color: yellow;
}
.testimonials{
    min-height: 4rem;
    width: 33%;
    margin: 0 1em;
    background-color: red;
}